In [1]:
import pandas as pd

In [2]:
import pandas_profiling as pp

In [3]:
print(pd.__version__)

1.2.4

In [4]:
print(pp.__version__)

3.0.0

In [17]:
data = pd.read_csv(r'E:\nus2021\UCL Hackathon\US.csv')
data

,State Name,Year,Average Ambient Pressure,Average Ambient Temperature,Carbon monoxide,Nitrogen dioxide (NO2),Outdoor Temperature,Ozone,PM10 Total 0-10um STP,PM2.5 - Local Conditions,Sulfur dioxide,Suspended particulate (TSP)
0,Alabama,1980,NaN,NaN,1.720953,25.248903,58.588430,0.052117,NaN,NaN,13.408306,59.893026
1,Alabama,1981,NaN,NaN,1.437457,22.785621,69.111278,0.052247,NaN,NaN,13.124142,61.246849
2,Alabama,1982,NaN,NaN,1.178577,31.690773,NaN,0.046548,NaN,NaN,10.323130,46.828228
3,Alabama,1983,NaN,NaN,1.491551,NaN,94.250000,0.049435,NaN,NaN,10.839509,50.291675
4,Alabama,1984,NaN,NaN,1.379900,NaN,NaN,0.046744,NaN,NaN,8.745030,51.719194
...,...,...,...,...,...,...,...,...,...,...,...,...
2309,USA,2017,733.893809,14.837058,0.274242,13.050075,56.353971,0.041785,18.322853,7.981322,1.653729,35.559980
2310,USA,2018,734.264041,13.824925,0.271137,12.550607,54.977856,0.041197,18.276586,7.966154,1.876002,36.024747
2311,USA,2019,733.164989,13.592286,0.259108,12.411063,54.453757,0.041427,17.059358,7.118688,1.260607,33.839194
2312,USA,2020,733.759826,14.388038,0.251398,11.404072,56.218082,0.039680,17.923987,7.889101,1.121396,32.652226
2313,USA,2021,727.078026,5.217271,0.269309,12.710319,38.150192,0.039360,16.312007,8.117156,1.207327,26.430000

In [18]:
profile = pp.ProfileReport(data)
profile.to_file("US_data.html")

Summarize dataset:   0%|          | 0/25 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]